# collection types
* list
* tuple
* set
* dictionary

# list
## ONE OF THE DATA structure in python
## data structure means to store , sort and search options
## it is a common data structure in python, the items in the list are separated by comma and enclosed in [ ]
## list can store different data types(heterogenous data )

In [3]:
# example 1
list1 = [1,2,3,4]
print(list1)
type(list1)

[1, 2, 3, 4]

list

In [4]:
# example 2:
list2 = [1,1.234,"gitam","hyd"]
print(list2)
type(list2)

[1, 1.234, 'gitam', 'hyd']

list

In [12]:
# accessing list examples
list1 = [1,2,3,4,5]
print(list1[0])
print(list1[-5])

1
1

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
print(list1[1:8:2])

[2, 4, 6, 8]

In [14]:
print(list1[2:])

[3, 4, 5]

# basic list operations

In [16]:
list1 = [1,2,3,4]
len(list1)

4

In [17]:
list2 = [1,2,3]
print(list2*2)

[1, 2, 3, 1, 2, 3]

In [18]:
3 in list2

True

# accessing list examples wiht for loop

In [19]:
list1 = [1,2,3,4]

In [21]:
for i in range(len(list1)):
    print(list1[i])

1
2
3
4

In [22]:
for i in range(len(list1)):
    print(list1[i],end= ' ')

1 2 3 4

In [23]:
#basic list functions
list1 = [1,2,3,4]
print(max(list1))
print(min(list1))

4
1

In [24]:
print(sum(list1))
sum(list1)/len(list1)

10

2.5

In [27]:
# list methods:
list1=[1,2,3,4,5,6,7]
list1.append(12)

In [28]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 12]

In [30]:
list1.insert(2,10)
print(list1)

[1, 2, 10, 3, 4, 5, 6, 7, 12]

In [31]:
list1.count(3)

1

In [32]:
list1.pop()

12

In [33]:
list1.pop(2)

10

In [34]:
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [35]:
list1.index(2)

1

In [37]:
list1.extend([8,9,10])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
list1.reverse()
print(list1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
list1.sort()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
print(list1[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
help("list")

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# tuples:
# tuples are enclosed in paranthesis()
# tuples are immutable i.e., we cannot modify the elements in the tuple

# Differences between list and tuple:
## tuples-->( ) and list--->[]
## List is mutable (can modify the data), but tuple is immutable (cannnot modify)

In [44]:
tuple = (1,2,3,4)
print(tuple)
type(tuple)

(1, 2, 3, 4)

tuple

In [46]:
tuple1 = (1,1.2334,'gitam','hyd')
print(tuple1)

(1, 1.2334, 'gitam', 'hyd')

In [49]:
print(tuple1[0:2])

(1, 1.2334)

In [50]:
tuple1[::-1]

('hyd', 'gitam', 1.2334, 1)

# Dictionary:

## Enclosed in{}

# Dictionary consists of key and value pairs

## Each key and value pair is seperated bh comma(;)
## keys should be unique , values may repeat

In [56]:
# example :
# key.value key 
d1 = {"int":1,"float":1.234,"name":"flower"}
print(d1)

{'int': 1, 'float': 1.234, 'name': 'flower'}

In [57]:
type(d1)

dict

In [58]:
d1["name"]

'flower'

In [61]:
d1["email"] = "chc@gmail.com"

In [62]:
d1

{'int': 1, 'float': 1.234, 'name': 'flower', 'email': 'chc@gmail.com'}

In [63]:
d1.keys()

dict_keys(['int', 'float', 'name', 'email'])

In [64]:
d1.values()

dict_values([1, 1.234, 'flower', 'chc@gmail.com'])

In [65]:
del d1["email"]

d1

    ## function to find factorial of a given number

In [ ]:
def factorial(n):
    fact = 1
    while n!=0:
        fact=fact*n
    n=n-1
    return fact
factorial(5)

In [17]:
def digitsumfactor(n):
    buffer=n
    sum=0
    factorial=1
    while n!=0:
        r=n%10
        while r!=0:
            factorial=factorial*r
            r=r-1
        sum=sum+factorial
        n=n//10
    if buffer == sum:
        print("strong number")
    else:
        print("not a strong number")
        return sum
digitsumfactor(145)

not a strong number

5880

# strings :

In [1]:
s1 = "Python"
print(s1)
type(s1)

Python

str

In [2]:
s1 = "python"
print(s1)
print(s1[1:])
print(s1[3:])
print(s1[:4])
print(s1[-2:])

python
ython
hon
pyth
on

In [3]:
s1 ="python"
s1[1:-1]

'ytho'

In [7]:
s="python"
print(s[::1])

python

In [8]:
s[::1]

'python'

In [14]:
s[::-2]

'nhy'

In [12]:
str1 ="python"
if str1 == str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

not a palindrome

In [16]:
s1 = "python"
print(s1.upper())

PYTHON